<h2><%= l(:label_csv_import) %></h2>

<%= render :partial => "importers/mapping/#{@import.klass.name.downcase}" %>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#import-form').submit(function(){
    $('#import-details').show().addClass('ajax-loading');
    $('#import-progress').progressbar({value: 0, max: <%= @import.total_items || 0 %>});
  });
});
<% end %>
