.icon-materials { background-image: url(../images/logo16.png); }

.icon-material-cycle-add { background-image: url(../images/cycleadd.png); }
.icon-material-cycle { background-image: url(../images/cycle.png); }
.icon-material-cycle-entry { background-image: url(../images/entry.png); }
.icon-material-cycle-middle { background-image: url(../images/middle.png); }
.icon-material-cycle-exit { background-image: url(../images/exit.png); }

form#issue_cycle_form {
}