<%= form_tag({}) do -%>
<%= hidden_field_tag 'back_url', url_for(params), :id => nil %>
<div class="autoscroll">
  <table class="list materials issues">
    <thead>
      <tr>
        <th class="checkbox hide-when-print">
          <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
                :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
        </th>
        <th>#</th>
        <% @query.inline_columns.each do |column| %>
          <%= column_header(column) %>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% materials.each do |material| -%>
      <tr id="material-<%= material.id %>" class="material <%= cycle('odd', 'even') %>">
      <!--<tr class="material <%= cycle("odd", "even") %> hascontextmenu">-->
        <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", material.id, false, :id => nil) %></td>
        <td class="id"><%= link_to material.id, project_material_path(material.project, material) %></td>
        <%= raw @query.inline_columns.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, material)}</td>"}.join %>
        <td class="buttons">
        <% if material.editable_by?(User.current) -%>
          <%= link_to image_tag('edit.png'), edit_project_material_path(material.project, material),
                                             :title => l(:button_edit) %>
        <% end %>
        <% if material.destroyable_by?(User.current) -%>                                             
          <%= link_to image_tag('delete.png'), project_material_path(material.project, material),
                                               :data => {:confirm => l(:text_are_you_sure)},
                                               :method => :delete,
                                               :title => l(:button_delete) %>
        <% end -%>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
</div>

<% end -%>

<%= context_menu time_entries_context_menu_path %>